.game__result {
  height: 90%;

  &-buttons {
    display: flex;
    justify-content: space-evenly;
  }

  &-home {
    background-image: url('@assets/svg/home.svg');    
  }

  &-again {
    background-image: url('@assets/svg/refresh.svg');
  }

  &-button {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.3s ease-in-out;    
  }

  &-button:hover {
    transform: scale(1.1);
  }

  &-table-wrapper {
    min-height: 30vh;
    margin: 0 0.3rem;
    padding: 1rem;
    overflow-y: scroll;
    color: var(--color-primary-100);
    border-radius: 1rem;
  }

  &-table-wrapper::-webkit-scrollbar {
    width: 0;
  }
}

table {
  width: 100%;
  margin: 15px auto;
  font-size: 1vw;
}

tr td {
  padding: 5px;
}

tr td:first-child {
  width: 3vw;
  background: url('@assets/svg/audio.svg') center no-repeat;
}

tr td:first-child:hover {
  transform: scale(1.1);
  cursor: pointer;
}

tr:nth-child(3n + 1) {
  background: #f2fff5;
}

tr:nth-child(3n + 2) {
  background: #ffeaea;
}

tr:nth-child(3n + 3) {
  background: #eeecff;
}

.too-few-words {
  margin-top: 5vh;
  text-align: center;
}
