.game__sprint {
  &-timer {
    font-weight: bold;
    font-size: 2vw;
    font-style: italic;
  }

  &-words {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    color: #fff;
    font-size: 2vw;
    text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000;
    transition: all 1s;
  }

  &-buttons {
    width: 22vw;
    height: 5vh;
    margin: 0 auto;
  }

  &-logic-button:active {
    transform: scale(1.1);
  }
}

.sprint__play-false {
  width: 9.5vw;
  height: inherit;
  margin-left: 2.5vw;
  color: #fff;
  font-size: 1.5vw;
  background: #000;
  border: 3px solid #000;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.sprint__play-true {
  width: 9.5vw;
  height: inherit;
  margin-left: -2.5vw;
  font-weight: bold;
  font-size: 1.5vw;
  border: 3px solid #000;
  clip-path: polygon(25% 0, 100% 0%, 100% 99%, 0% 100%);
}

