.team {
  &__header {
    display: flex;
    justify-content: center;
  }
  
  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
}

.team-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  align-items: center;
  max-width: 21rem;
  padding: 0.5rem;

  @media screen and (max-width: 512px) {
    width: 17rem;    
  }

  a {
    padding: 0.1rem;
    transition: 0.2s ease-in-out;
    
    &:hover {
      opacity: 0.7;
    }
  }

  &__heading {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
  }

  &__badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    align-items: flex-start;
    justify-content: center;
  }
    
  &__badge {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    color: var(--color-white-100);
    font-size: 0.8rem;
    background-color: var(--color-primary-500);
    border-radius: 1rem;
  }

  &__info {    
    padding-left: 0.2rem;
  }

  &__image {
    width: 20rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 1rem;

    @media screen and (max-width: 512px) {
      width: 18rem;
      height: 18rem;
    }

    &_aliaksandr {
      background-image: url('@assets/img/aliaksandr.webp');
    }

    &_ivan {
      background-image: url('@assets/img/ivan.webp');
    }

    &_igor {
      background-image: url('@assets/img/igor.webp');
    }    
  }
}

.contact {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &_gh {
    background-image: url('@assets/svg/github.svg');
  }

  &_tg {
    background-image: url('@assets/svg/telegram.svg');
  }
}
