:root {
  --subheading-size: 2rem;
  --heading-container-height: 10rem;
  --num-subheadings: 8;
  --subheading-margin: 4vw;
  @media only screen and (max-width: 480px) {
    --subheading-size: calc(2rem * 0.8);
  }
}

.bg {  
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f3f0f1;
  background-image: url('@assets/img/female-student.webp');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 100%;
  opacity: 0;
  transition: 1s;

  &_active {
    opacity: 1;
    @media only screen and (max-width: 1024px) {
      background-position: 0 bottom;
      opacity: 0.5;
    }
    @media only screen and (max-width: 768px) {
      background-position: -30vw bottom;
    }
    @media only screen and (max-width: 512px) {
      background-position: -80vw bottom;
    }
  }
  
}

.hero-section {
  position: fixed;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: var(--navbar-height);
  margin-bottom: 100vh;
  color: var(--color-black-100);
  opacity: 0;
  transition: 0.3s ease-in-out;
  
  &_active {
    opacity: 1;    
  }

  &__row {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }



  &__heading-container {
    display: flex;
    align-items: flex-start;
    transition: 0.5s ease-in-out;
    @media only screen and (max-width: 480px) {
      justify-content: center;
      width: 100%;
    }
  }

  &__heading {    
    padding-top: 6rem;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    transition: 0.3s;
    @media only screen and (max-width: 480px) {
      font-size: var(--subheading-size);
    }
  }

  &__subheadings-container {
    display: flex;
    flex-direction: column;
  }

  &__subheading {
    padding-top: 10rem;
    color: var(--color-black-400);
    font-weight: 700;
    font-size: var(--subheading-size);
    text-align: right;
    opacity: 0;
    transition: 0.3s;
    
    @media only screen and (max-width: 480px) {
      text-align: center;
    }

    &_active {
      padding-top: 0;
      opacity: 1;      
    }

    &_last {
      font-size: calc(var(--subheading-size) * 0.5);
    }
  }
  
}

.faq {
  position: relative;
  display: flex;
  gap: 1rem;
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 450vh;
  padding: 50vh 1.25rem 0;
  transform: translateX(-30vw);
  transition: 0.5s ease-in-out;

  a {
    color: inherit;
    font-weight: 500;
    text-underline-offset: 0.2rem;
    text-decoration-color: #0000;
    transition: 0.3s ease-in-out;
    
    &:hover {
      text-decoration: underline;
      text-decoration-color: inherit;
    }

    &:visited {
      color: inherit;
    }

  }

  &_active {
    transform: translateX(0);
  }

  @media only screen and (max-width: 512px) {
    flex-direction: column;
  }

  &__block {
    opacity: 0;
    transition: 0.5s ease-in-out;

    @media only screen and (max-width: 400px) {
      opacity: 1;
    }

    &_active {
      opacity: 1;
    }
    
  }

  &__col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 30vw;      
  }

  &__question {
    padding: 0.2rem 0;
    font-weight: 600;
    font-size: 1.5rem;
    border-bottom: solid 0.1rem var(--color-black-500);
  }

  &__answer {
    padding: 1rem;
    font-size: 1rem;
  }
}

.reviews {
  position: relative;
  top: 3rem;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1.25rem 33vh;
  opacity: 1;
  transition: 0.3s ease-in-out;

  &_active {    
    animation: reviews-reveal 1s ease-in-out;
  }

  &__heading {
    font-weight: 700;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: stretch;
    justify-content: space-between;
    padding-top: 1rem;
    overflow-x: hidden;
    
    @media only screen and (max-width: 1024px) {
      justify-content: center;
    }
  }

}

.review-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 16rem;
  padding: 1rem;
  background-color: var(--color-white-100);
  border: 1px solid var(--color-black-400);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-medium);
  opacity: 1;
  transition: 0.5s ease-in-out;

  &__text {
    flex-grow: 1;
  }

  &__username {
    align-self: flex-end;
    font-weight: 700;
    font-style: italic;
  }

  &__rating-bar {
    align-self: flex-end;
  }

  &__userpic {
    align-self: center;
    width: 6rem;
    height: 6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &_drogo {
      background-image: url('@assets/img/drogo.webp');
    }

    &_cicero {
      background-image: url('@assets/img/cicero.webp');
    }

    &_student {
      background-image: url('@assets/img/anonymous.webp');
    }
  }

}

.fixed {
  position: fixed;
  top: 0;
}

.scroll-area {
  height: auto;
}

.scroll-down {
  position: fixed;
  right: 50%;
  bottom: 2rem;
  width: 4rem;
  height: 3rem;
  overflow-y: hidden;
  background-color: transparent;
  border-radius: 10%;
  transform: translateX(50%);
  opacity: 0;

  &_active {
    opacity: 0.5;
  }

  &__image {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    background-image: url('@assets/svg/down-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: scroll-down 2s ease-in-out infinite;
  }

}

@keyframes scroll-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  50% {
    opacity: 0.8;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    transform: scale(0.5);
    opacity: 0;
    
  }
}

.disappear {
  opacity: 0;
  animation: disappear-animation 1s ease-in-out;
}

.reveal {
  opacity: 1;
  animation: disappear-animation 1s ease-in-out reverse;
}

.splash-image {
  min-width: 25vw;
  min-height: 100vh;

  @media only screen and (max-width: 768px) {
    min-width: 0;
  }
}

@keyframes disappear-animation {
  0% {
    opacity: 1;
  }

  90% {   
    opacity: 0;
  }

  100% {
    display: none;    
  }
}

.card-reveal {
  animation: card-reveal-animation 1.5s ease-in-out forwards;
}

@keyframes card-reveal-animation {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes reviews-reveal {
  0% {
    transform: translateX(50vw);
    opacity: 0;
  }

  70% {
    transform: translateX(-5vw);
  }

  100% {
    opacity: 1;
  }
}
